#blockUI {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Nền đen mờ */
    display: none; /* Ẩn mặc định */
    align-items: center;
    justify-content: center;
    z-index: 2000; /* Cao hơn modal */
    pointer-events: auto; /* Chặn mọi tương tác */
  }
  .img_pro img{
    width: 250px;
    height: 350px;
    object-fit: contain;
    margin: auto;
    display: block;
    transition: transform 0.3s ease;
}